.container {
  background: black;
  padding: 0.5rem;
  height: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userNotFound {
  background: black;
  padding: 0.5rem;
  height: 60%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userNotFound > p {
  color: white;
  font-size: 1.5rem;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.nameWithImage {
  background: grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

/* ordering elements inside nameWithImage class */

.nameWithImage :nth-child(3) {
  order: 1;
  margin: 0.5rem;
}

.nameWithImage :nth-child(1) {
  order: 2;
  margin: 0.5rem;
}

.nameWithImage :nth-child(2) {
  order: 3;
}

.nameWithImage > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.otherInfo > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.otherInfo {
  background: gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .user-not-found {
    font-size: 1.125rem; /* Equivalent to 18px (1.125 * 16px) */
  }
}

@media (max-width: 480px) {
  .user-not-found {
    font-size: 1rem; /* Equivalent to 16px (1 * 16px) */
  }
}
