.container {
  background: black;
  padding: 0.5rem;
  height: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userNotFound {
  background: black;
  padding: 0.5rem;
  height: 60%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userNotFound > p {
  color: white;
  font-size: 1.5rem;
}

img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
}

.nameWithImage {
  background: grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

/* ordering elements inside nameWithImage class */

.nameWithImage :nth-child(3) {
  order: 1;
  margin: 0.5rem;
}

.nameWithImage :nth-child(1) {
  order: 2;
  margin: 0.5rem;
}

.nameWithImage :nth-child(2) {
  order: 3;
}

.nameWithImage > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.otherInfo > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.otherInfo {
  background: gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

/* medium sized screen */

@media (max-width: 1100px) {
  .nameWithImage {
    background: grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .otherInfo {
    background: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}

/* small screen  */

@media (max-width: 768px) {
  .container {
    margin-top: 1rem;
  }

  img {
    max-width: 60%;
    border-radius: 50%;
  }

  .nameWithImage {
    background: grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .user-not-found {
    font-size: 1.125rem;
  }
}

/* super small screen  */

@media (max-width: 480px) {
  .container {
    background: black;
    margin-top: 1rem;
    padding: 0.5rem;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .userNotFound {
    background: black;
    margin-top: 1rem;
    padding: 0.5rem;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nameWithImage > p {
    font-size: 0.5rem;
  }

  .otherInfo > p {
    font-size: 0.3rem;
    margin: 1px;
  }

  .user-not-found {
    font-size: 1rem;
  }
}

/* height */

@media (max-height: 900px) {

  .nameWithImage {
    max-height: 40%;
  }

  .otherInfo {
    max-height: 40%;
  }

  img {
    max-height: 40%;
  }
}
